*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*index*/
header{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: rgb(164,232,212);
    background: linear-gradient(90deg, rgba(164,232,212,1) 21%, rgba(43,145,112,1) 52%, rgba(22,92,97,1) 88%);
}
.button{
 font-size: 1rem;
    width: 20rem;
    margin: 1rem;    
    padding: 1rem;     
    font-weight: bolder;  
    border: solid rgb(9, 109, 84);;     
    background-color: rgb(118, 211, 188); 
    border-radius: 20px; 
    
                                                          
  
}
.Buscar {
    height: 2rem;
    width: 5rem;
    background-color:rgb(9, 109, 84) ;
    border-radius: 20px;

}
  

.icons{
    margin: 10px;
    padding: 10px;
    
   
}

.portada{
 width: 100%;
  height: 500px; 
  background: url(../media/mdq1\ -\ copia.jpg);
  background-size:cover  

}

.nav{
    list-style-type: none;
    background: rgb(34,103,105);
    background: linear-gradient(90deg, rgba(34,103,105,1) 16%, rgba(8,204,195,1) 98%);
    margin: 0;
    width: 100%
    
   
}
.nav-link{
    color:papayawhip ;
}
ul li{
    display: inline-block;
    text-align: center;
}
ul li a{
    text-decoration: none;
    display: inline-block;
    font-family:'Questrial', sans-serif;
    font-size: 1.8rem;
    padding: 50px;
    font-weight: bolder;
   
    
}
ul li a:hover {
    background-color: black;
    border-radius:20px ;
}
main{
    background:linear-gradient(to top,rgba(185,254,255,1) 0%, rgba(13,111,87,1) 100% );
    padding: 40px;;
    flex-direction: row;

}
h2{
    font-family:'Questrial', sans-serif;
    font-size: 1.7rem;
    font-weight: bolder;
    line-height: 80px;

}

.nosotros {
   float: right;
   padding: 10px;
   padding-right: 100px;
  
}
.parrafo1{
    padding-left: 80px;
    padding: 20px;
    background:#49c39b ;
    width: 50%;
    font-size: 16px;
    font-family: 'Manjari', sans-serif;
    display: inline-block;
}

.parrafo1:hover {
    transform: scale(1.5,1) ;
}

.compras {
    float: left;
    padding: 20px;
    
   
}
.parrafo2 {
        padding: 20px;
        background:#49c39b ;
        width: 60%;
        text-align: right;
        font-size: 16px;
        font-family: 'Manjari', sans-serif;
        display: inline-block; 
}
   
.parrafo2:hover {
    transform: scale(1.5,1) ;
}  

footer{
    background: rgb(34,103,105);
    background: linear-gradient(90deg, rgba(34,103,105,1) 16%, rgba(8,204,195,1) 98%);
    border-style: groove;
    padding: 50px;
    display: flex;
    justify-content: space-between
}

h4{
    font-family:'Questrial', sans-serif;
    font-size: 18px;
    color: papayawhip;
    
}
    
.pagos{
    justify-content: flex-start;
    display: inline;
    
}
/*Menu de registro*/
a{
    text-decoration: none;
    font-family:'Questrial', sans-serif;
    color: rgb(71, 201, 168);
    padding: 10px;
    display: inline-flex;
    font-weight: bolder;

}
.formulario{
    padding: 10px;
    font-family:'Questrial', sans-serif; 
    background-color:rgb(67, 187, 157);
    color:rgb(17, 83, 85);
    font-weight: bolder;
    
}
/*menu gafas de sol*/

.galery{
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.estilo{
    font-family: 'Manjari',sans-serif;
    width: 30%;
    display: flex;
    max-width: 1100px;
    text-decoration:none;
    color: rgb(9, 109, 84);
  
}


.estilo a:hover {
    text-decoration: underline;
}
.estilo .img-container {
    overflow: hidden;
    height: 400px;
    position: relative;
    border-radius: 15px;
    display:inline-flex;
}
.estilo .img-container img {
    width: 100%;
   display: inline-block;
     top: -25%;
    transition: all 0,5s;

}
.estilo:hover .img-container{
    transform: scale(1.2);
}

.estilo .add-cart{
    display: inline-block;
    margin-top: 2px;
    text-decoration: none;
    color: rgb(8, 148, 148);
    background-color: rgb(170, 243, 225);
    padding: 15px;
    border: 1px solid rgb(19, 236, 171);
    border-radius: 25px;
}
p{
    font-family: sans-serif;
    font-weight: bolder;
    color: rgba(22,92,97,1);
    font-size: 30px;
}
h2{
    font-family:'Questrial', sans-serif;  
    background-color: #008080;
    font-weight: bolder;
    color: papayawhip;
    justify-content: center;
    padding-left: 8px;
    
}
h1{
    font-family:'Manjari',sans-serif;
    font-weight: bolder;
}
h5 {
    color: aquamarine;
}